html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main .swiper {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover !important;
    overflow: hidden !important;
}

.swiper-container {
    height: 100vh;
    overflow: hidden;
}
.swiper-wrapper .swiper-slide span {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover;
    overflow: hidden;
}

main .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
    left: 10px;
    right: auto;
    top: 50%;
    /* transform: translate3d(0px, -50%, 0); */
}
main
    .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block;
    background-color: #bbb4b4;
}

main .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff;
    width: 24px;
}
main .swiper-pagination-bullet {
    width: 16px;
    height: 4px;
    display: inline-block;
    border-radius: 0;
    background: #333;
    opacity: 0.2;
    transition: all 0.5s;
}
